* { margin: 0; padding: 0; font-family: sans-serif;}
.header {
  background-color: #8bc34a;
  height: 10vh;
  color: #eceff1;
}
h1 {
  text-align: center;
  color: white;
  font-size: 2.2rem;
  padding-top: 2vh;
}
#header-table {
  background-color: #8bc34a;
  width:97vw;
  margin-left: 1.5vw;
  margin-top: 1vh;
  height: 5vh;
}

.header-td {
  text-align: center;
  color: #eceff1;
  font-size: 1.05rem;
}

.active {
  background-color: #5a9216;
  border-radius: 0.25rem;
  margin: 5px;
}

.header-link{
  display: block;
  color: #eceff1;
  text-decoration: none;
}

#logo {
  margin: auto;
  padding-top: .5rem;
  display: block;
}

.p-error {
  color: red;
  font-size: .8rem;
  visibility: hidden;
  text-align: center;
  font-weight: bold; 
  margin: .2rem;
}

input[type="text"] {
  height: 1.7rem;
  font-size: 1rem;
}

input[type="datetime-local"] {
  width: 10.4rem;
  height: 1.7rem;
  font-size: 1rem;
}

.center-label {
  margin-left: 38vw;
  font-size: 1rem;
}

.center-input {
  float: right;
  margin-right: 35vw;
}

.center {
  clear: both;
  text-align: center;
}

.button {
  background-color: rgb(72, 141, 252);
  border-color: rgb(21, 126, 250);
  color: white;
  margin: .2rem;
  font-size: 1rem;
  padding: .6rem;
  width: 12rem;
}

.center-input-radio {
  float: left;
  margin-left: 52vw;
  margin-bottom: .3rem;
}
.playerinfo {
  margin:auto;
  border-spacing: 1vh;
}
.playerinfo tr td img {
  width: 8rem;
  height: 8rem;
}
.playerinfo tr td:first-child, .playerinfo select {
  float: left;
  margin-top: 2.5%;
}
.redbutton {
  background-color: #dc3545;
  border-color: #dc3546;
  color: white;
  margin: .2rem;
  font-size: 1rem;
  padding: .6rem;
  width: 21rem;
}
.game-title {
  font-weight: bold;
}
.stats {
  margin:auto;
  margin-top: 5vh;
  width: 50%;
  border-spacing: 1vh;
  overflow: hidden;
}
.stats td {
  text-align: center;
  width: 30%;
}
.game-info p {
  margin: .5rem;
}
hr {
  border: .03rem solid #E8E8E8;
}
.add-button {
  float: right;
  margin: 1vh 1.5vw 1vh 0;
  width: auto;
}

.stats-button {
  float: left;
  border-color: #B8B8B8;
  color: #B8B8B8;
  margin: .2rem;
  font-size: 1rem;
  padding: .6rem;
  width: 12rem;
}
.stats-actions {
  width: 100vw;
}

.stats-actions button {
  margin-left: 1.5vw;
}

.stats-actions img {
  float: right;
  margin-right: 1.5vw;
}
.contenders {
  margin: auto;
  width: 100vw;
}
.contenders td {
  text-align: center;
  width: 50%;
}
.game-stats {
  margin: auto;
  width: 100vw;
}
.game-stats td{
  width: 33%;
  text-align: center;
  padding: .5rem 4rem 0 4rem;
}
.logout-button {
  display: block;
  margin: auto;
  text-decoration: none;
  background-color: rgb(218, 56, 73);
  border-color: rgb(218, 56, 74);
}
